html, body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	height: 100%;
}

.vis_container {
	width: 60%;
	float: left;
}

.vis_controls_container {
	position: fixed;
	width: 270px;
	height: 100%;
	right: 0px;
	overflow-y: scroll;
	
	padding: 20px 20px 0px 20px;
	
	background: #F9F9F9;
	border-left: 1px solid #E8E8E8;
	box-shadow: 1px 1px 3px #CACACA;
}

.control_container {
	border: 1px solid #E8E8E8;
	background-color: white;
	margin: 0px 0px 20px 0px;
	padding: 20px 20px 0px 20px;
}

.control_container .title {
	font-weight: 700;
	margin-bottom: 10px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #E8E8E8;
}

.slider_a, .slider_b, .slider_c, .checkboxes {
	font-size: 13px;
	margin-bottom: 15px;
}

.slider_reading {
	font-weight: 700;
	float: right;
}

.slider_a .min, .slider_b .min, .slider_c .min {
	color: #7B7B7B;
	font-size: 11px;
	font-weight: 300;
	margin-top: 3px;
	margin-left: 1px;
}

.slider_a .max, .slider_b .max, .slider_c .max {
	color: #7B7B7B;  
  font-size: 11px;
  font-weight: 300;
  margin-top: -16px;
  float: right;
}

.slider_c .slider_reading {
	float: none;
}














