html, body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	height: 100%;
	color: #333;
}

h1 {
	position: absolute;
	z-index: 1;
	left: 50px;
	top: 9px;
}

h1 span {
	font-weight: 400;
}

.crime_circle.active {
	stroke: rgba(255, 255, 255, 0.8);
}

.vis_container {
	position: absolute;
	width: -webkit-calc(100% - 300px);
  width: expression(100% - 300px);
  width: -moz-calc(100% - 300px);
  width: -o-calc(100% - 300px);
  width: calc(100% - 300px);
  text-align: center;
}

.vis_controls_container {
	position: fixed;
	top: 0px;
	width: 270px;
	height: 100%;
	right: 0px;
	overflow-y: scroll;
	overflow-x: hidden;

	padding: 15px 20px 0px 20px;

	background: #F9F9F9;
	border-left: 1px solid #E8E8E8;
	box-shadow: 1px 1px 3px #CACACA;
}

.control_container {
	border: 1px solid #E8E8E8;
	background-color: white;
	margin: 0px 0px 13px 0px;
	padding: 15px 20px 0px 20px;
}

.last_control {
	margin-bottom: 12px;
}

.marker_a {
	position: absolute;
	margin-top: 2px;
	display: inline-block;
	background-image: url(../img/markerB.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 12px;
	width: 10px;
}

.marker_b {
	position: absolute;
	margin-top: 2px;
	display: inline-block;
	background-image: url(../img/marker.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 12px;
	width: 10px;
}

.map_marker, .map_marker_image {
  cursor: all-scroll;
}

.control_container.first {
	padding: 10px 20px;
}

.control_container .title {
	font-weight: 700;
	margin-bottom: 10px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #E8E8E8;
}

.control_container .title.special {
	display: inline-block;
	border-bottom: none;
	padding: 0;
	margin: 0;
}

.control_container .title.special.float {
	float: right;
	border-bottom: none;
	padding: 0;
	margin: 0;
}

.last_control .title {
	margin-bottom: 0;
}

.slider_a, .slider_b, .slider_c, .checkboxes {
	font-size: 13px;
	margin-bottom: 15px;
}

.weekdays {
	font-size: 13px;
	margin-bottom: 17px;
}

.weekdays .day {
	width: 31px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #E8E8E8;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	margin-left: -2px;
	background-color: #F9F9F9;
	color: #B9B9B9;
	font-weight: 300;
	transition: background 0.5s ease;
}

.weekdays .day:hover {
	cursor: pointer;
}

.weekdays .active {
	background: white;
	color: #333;
	font-weight: 700;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(255,255,255,1);
	transition: background 0.5s ease;
}

.weekdays .left {
	border-left: 1px solid #E8E8E8;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	margin: 0px -1px 0px 0px;

}

.weekdays .right {
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

.fix {
	margin-left: -3px !important;
}

.tooltip {
	position: relative;
	opacity: 0;
	pointer-events: none;
}

.arrow_up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #D0D0D0;
	-webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.auto_margin {
	margin-left: auto;
	margin-right: auto;
}

.arrow_fill {
	position: relative;
	z-index: 3;
	width: 0;
	height: 0;
	margin-top: -9px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid white;
	-webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.hidden_description {
	position: absolute;
	top: 9px;
	left: 0;
	border: 1px solid #D0D0D0;
	border-radius: 10px;
	text-align: left;
	font-size: 0.7em;
	padding: 15px 20px;
	background: rgba(255, 255, 255, 0.9);
	-webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.tooltip.active {
	opacity: 1;
}

.buttons {
	position: absolute;
	top: 85px;
	left: 50px;
}

.buttons .control_container {
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.8);
}

.button {
	display: inline-block;
	width: 27px;
	height: 27px;
	border: 1px solid #E8E8E8;
	border-radius: 3px;
	background-color: #F9F9F9;
	font-size: 17px;
	font-weight: 700;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(255,255,255,1);
	transition: background 0.5s ease;
}

.button:focus {
	outline: none;
}

.button:hover {
	background-color: #E8E8E8;
}

.button.in {
	margin-right: 6px;
}